.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #ff4da6;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

.link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

.link:hover {
  color: #ff4da6;
  background-color: white;
  padding: 4px 10px;
  border-radius: 5px;
}
